<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<title>Manage products</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript"></script>
</head>
<body>
<th:block th:insert="fragments/header.html :: header('')" /> 
<div class="container-fluid text-center">
    <table>
        <thead>
            <tr>
                <th>Name</th>>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${product.name}"></td>
                <td class="align-middle">
                    <button><a  th:href="@{|/category/${category.id}/update|}" role="button">Edit</a></button>
                    <button><a  th:href="@{|/category/${category.id}/delete|}" role="button">Delete</a></button>
                </td>

            </tr>
        </tbody>
    </table>
    <a th:href="@{/category/create}"><button>Add Category</button></a>
</div> 

    
</body>
</html>
