<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<title>Online Store</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script type="text/javascript"></script>
</head>
<body>
    <img style="object-position: center;" src="/images/logo.png" alt="logo"> 
    <h1>Product List</h1>
        

    
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.code}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td><img  th:src="@{'/images/'+ ${product.image}}" class="imageg" alt="image"/></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
