<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<title>Online Store</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script type="text/javascript"></script>
</head>
<body>
    <th:block th:insert="fragments/header.html :: header('')" /> 
    
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.code}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td><img  th:src="@{'/images/'+ ${product.image}}" class="imageg" alt="image"/></td>
                <td class="align-middle">
                    <button><a class="btn btn-primary btn-sm" th:href="@{|/products/${product.id}/update|}" role="button">Edit</a></button>
                    <button><a class="btn btn-danger btn-sm" th:href="@{|/products/${product.id}/delete|}" role="button">Delete</a></button>
                </td>

            </tr>
        </tbody>
    </table>
    <a th:href="@{/products/create}"><button>Add Product</button></a>
</body>
</html>
